{{> head}}
{{> navbar}}

 <div class = "row">

     <div class = "col-8">
         <h1>Angular</h1>
         <p>
             Este es un ejemplo de web en angular
         </p>
     </div>

     <div class = "col-4">
        <img src="assets/img/angular.png" class="img-thumbnail">
     </div>

 </div>

{{> footer}}